.nav-main {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  padding: 1.3rem;
    background-color: #111;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
